.container {
  text-align: center;
}

.partners-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.partner-image {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  margin-left: 10%;
  border: 1px solid orangered;
}
